<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head('room')}">
</head>
<body>
<header th:replace="~{layout :: header}"></header>
<aside th:replace="~{layout :: sidebar}"></aside>
<main id="main" class="main">

    <section class="section">
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Reservation Log</h5>
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <th scope="row">Reservation Code</th>
                                <td>:</td>
                                <td th:text="${detail.code}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Reservation Method</th>
                                <td>:</td>
<!--                                <td th:text="${detail.reservationMethod}"></td>-->
                            </tr>
                            <tr>
                                <th scope="row">Room Number</th>
                                <td>:</td>
                                <td th:text="${detail.roomNumber}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Room Floor</th>
                                <td>:</td>
                                <td th:text="${detail.roomFloor}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Room Type</th>
                                <td>:</td>
                                <td th:text="${detail.roomType}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Guest Username</th>
                                <td>:</td>
                                <td th:text="${detail.guestUsername}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Guest Full Name</th>
                                <td>:</td>
                                <td th:text="${detail.guestFullName}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Book Date</th>
                                <td>:</td>
                                <td th:text="${detail.bookDate}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Check In</th>
                                <td>:</td>
                                <td th:text="${detail.checkIn}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Check Out</th>
                                <td>:</td>
                                <td th:text="${detail.checkOut}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Cost</th>
                                <td>:</td>
                                <td th:text="${detail.cost}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Payment Date</th>
                                <td>:</td>
                                <td th:text="${detail.paymentDate}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Payment Method</th>
                                <td>:</td>
<!--                                <td th:text="${detail.paymentMethod}"></td>-->
                            </tr>
                            <tr>
                                <th scope="row">Remark</th>
                                <td>:</td>
                                <td th:text="${detail.remark}"></td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </section>


</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>