<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title th:text="'Phoenix - '+ ${title}"></title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/resources/tamplate/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/tamplate/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/resources/tamplate/css/style.css}" rel="stylesheet">

    <!-- Vendor JS Files -->
    <script th:src="@{/resources/tamplate/bootstrap/js/bootstrap.bundle.min.js}" defer></script>

    <!-- Template Main JS File -->
    <script th:src="@{/resources/tamplate/js/main.js}" defer></script>
    <script th:src="@{/resources/tamplate/js/data.js}" defer></script>

    <!-- Validation    -->
    <script th:src="@{/resources/tamplate/tinymce/tinymce.min.js}" defer></script>
    <script th:src="@{/resources/tamplate/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/resources/tamplate/js/jquery-3.6.0.min.js}"></script>

</head>

<body>
<header th:fragment="header" id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <span class="d-none d-lg-block">Phoenix</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li>
                <span th:if="${admin != null}" th:text="${admin.username + '.' + admin.jobTitle}">  </span>
                <span th:if="${guest != null}" th:text="${guest.firstName + ' ' +guest.middleName+ ' '+ guest.lastName }"></span>
            </li>
            <li>
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#changePassword">Change Password</button>
            </li>

            <li class="nav-item dropdown pe-3" >
                <form id="singOut" method="post" th:action="@{/logout}">
                    <button class="btn btn-outline-primary"><i class="bi bi-box-arrow-right"></i>Sign Out</button>
                </form>
            </li>

        </ul>
    </nav>
    <!--MODAL-->
    <div class="modal fade" id="changePassword" data-bs-backdrop="false" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body">
                       <input type="hidden" id="username" th:if="${admin != null}" th:value="${admin.username}">

                        <div class="row mb-3">
                            <label for="oldPassword" class="col-sm-10 col-form-label">Old Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="oldPassword">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="newPassword" class="col-sm-10 col-form-label">New Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="newPassword">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="confirmPassword" class="col-sm-10 col-form-label">Confirmassi Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="confirmPassword">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="submit btn btn-primary submitChangePassword">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</header>

<aside th:fragment="sidebar" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " th:classappend="${currentUrl.equals('/home') ? '' : 'collapsed'}"  th:href="@{/home}">
                <i class="bi bi-house-fill"></i>
                <span>Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " th:classappend="${currentUrl.equals('/admin') ? '' : 'collapsed'}"  sec:authorize="hasAuthority('Administrator')" th:href="@{/admin}">
                <i class="bi bi-pen"></i>
                <span>Admin</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " th:classappend="${currentUrl.equals('/rooms') ? '' : 'collapsed'}"  sec:authorize="hasAuthority('Administrator')" th:href="@{/rooms}">
                <i class="bi bi-book"></i>
                <span>Room</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " th:classappend="${currentUrl.equals('/inventory') ? '' : 'collapsed'}"  sec:authorize="hasAuthority('Administrator')" th:href="@{/inventory}">
                <i class="bi bi-people"></i>
                <span>Inventory</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " th:classappend="${currentUrl.equals('/roomService') ? '' : 'collapsed'}"  sec:authorize="hasAuthority('Administrator')" th:href="@{/roomService}">
                <i class="bi bi-inbox"></i>
                <span>Room Service</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:classappend="${currentUrl.equals('/reservation') ? '' : 'collapsed'}" sec:authorize="hasAuthority('Administrator')" th:href="@{/reservation}">
                <i class="bi bi-inbox"></i>
                <span>Reservation Log</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${currentUrl.equals('/booking') ? '' : 'collapsed'}" sec:authorize="hasAuthority('Guest')" th:href="@{/booking}">
                <i class="bi bi-inbox"></i>
                <span>Booking</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${currentUrl.equals('/booking/myRoom') ? '' : 'collapsed'}" sec:authorize="hasAuthority('Guest')" th:href="@{/booking/myRoom}">
                <i class="bi bi-inbox"></i>
                <span>My Room</span>
            </a>
        </li>

    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

</main>

<!-- ======= Footer ======= -->
<footer th:fragment="footer" id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>

</footer>


</body>

</html>